<mat-list class="direct">
    <mat-list-item><img src="./assets/user.jpeg"/></mat-list-item>
    <mat-list-item><img src="./assets/user.jpeg"/></mat-list-item>
    <mat-list-item><img src="./assets/user.jpeg"/></mat-list-item>
    <mat-list-item><img src="./assets/user.jpeg"/></mat-list-item>
    <mat-list-item><img src="./assets/user.jpeg"/></mat-list-item>
    <mat-list-item><img src="./assets/user.jpeg"/></mat-list-item>
    <mat-list-item><img src="./assets/user.jpeg"/></mat-list-item>
    <mat-list-item><img src="./assets/user.jpeg"/></mat-list-item>
    <mat-list-item><img src="./assets/user.jpeg"/></mat-list-item>
</mat-list>