<mat-card class="direct-card">
    <mat-card-header>
        <div mat-card-avatar class="direct-avatar"></div>
        <mat-card-title>{{ 'direct-component.title' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>      
        <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item>
                <button mat-icon-button>
                    <mat-icon>home</mat-icon>
                    <span>{{ 'direct-component.page-init' | translate }}</span>
                </button> 
            </mat-list-item>
            <mat-list-item> 
                <button mat-icon-button>
                    <mat-icon>send</mat-icon>
                    <span>{{ 'direct-component.direct' | translate }}</span>
                </button>                  
            </mat-list-item>
            <mat-list-item>
                <button mat-icon-button>
                    <mat-icon>shopping_cart</mat-icon>
                    <span>{{ 'direct-component.shopping' | translate }}</span>
                </button>                
            </mat-list-item>
            <mat-list-item>
                <mat-menu #networkMenu="matMenu">
                    <button mat-menu-item>{{ 'direct-component.facebook' | translate }}</button>
                    <button mat-menu-item>{{ 'direct-component.twitter' | translate }}</button>
                    <button mat-menu-item>{{ 'direct-component.instagram' | translate }}</button>
                    <button mat-menu-item>{{ 'direct-component.google' | translate }}</button>
                    <button mat-menu-item>{{ 'direct-component.pinterest' | translate }}</button>
                </mat-menu>                 
                <button mat-icon-button [matMenuTriggerFor]="networkMenu">
                    <mat-icon>language</mat-icon>
                    <span>{{ 'direct-component.network' | translate }}</span>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>