<mat-card class="feed-mat-card feed-mat-card-what-thinking">
  <img [src]="user.avatar"/>    
  <form [formGroup]="whatThinkingForm" (ngSubmit)="send()">
    <mat-form-field>        
        <input type="text" matInput formControlName="text" [placeholder]="'feed-component.what-thinking' | translate">
    </mat-form-field>
    <button mat-button type="submit" [disabled]="!whatThinkingForm.valid">
      <mat-icon>send</mat-icon>
    </button>
    <button mat-button (click)="uploadImageDialog()">
      <mat-icon>photo_camera</mat-icon>
    </button>
  </form>
</mat-card>
<div class="div-post">
  <div *ngFor="let post of data">
    <mat-card class="feed-mat-card post-mat-card" *ngVar="{ show: false } as commentMetadata">
      <mat-card-header>
        <div mat-card-avatar class="post-avatar" [ngStyle]="{ 'background-image': 'url(' + post.who.avatar + ')'}"></div>
        <mat-card-title>{{ post.who.name }}</mat-card-title>
        <mat-card-subtitle>{{ post.dateTime | timePassed }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content *ngIf="post.text"><p>{{ post.text }}</p></mat-card-content>
      <img mat-card-image *ngIf="post.image" [src]="post.image">
      <mat-grid-list cols="3" rowHeight="2em">
        <mat-grid-tile class="feed-card-left-details">     
          <mat-icon>favorite</mat-icon>
          <span translate [translateParams]="{ likes: post.likes }">feed-component.likes</span>
        </mat-grid-tile>
        <mat-grid-tile>
          <span translate [translateParams]="{ comments: post.comments.length }">feed-component.comments</span>
        </mat-grid-tile>
        <mat-grid-tile>
          <span translate [translateParams]="{ shared: post.shared }">feed-component.shared</span>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
      <mat-card-actions class="feed-card-actions">
        <button mat-button (click)="iLikeIt(post)">
          <mat-icon>favorite</mat-icon>
          <span>{{ 'feed-component.ilike' | translate }}</span>
        </button>
        <button mat-button (click)="showOrHideComments(commentMetadata)">
          <mat-icon>comment</mat-icon>
          <span>{{ 'feed-component.comment' | translate }}</span>
        </button>
        <button mat-button (click)="share(post)">
          <mat-icon>share</mat-icon>
          <span>{{ 'feed-component.share' | translate }}</span>
        </button>
      </mat-card-actions>
      <mat-divider *ngIf="commentMetadata.show"></mat-divider>
      <mat-card-content *ngIf="commentMetadata.show">
        <app-comment [postDto]="post"></app-comment>
      </mat-card-content>
    </mat-card>  
  </div>
</div>