.div-content {
    display: flex;
}

.div-center {
    width: 38%;
    overflow-y: scroll;
    height: 67em; 
}

.div-left {
    width: 31%;
}

.div-right {
    width: 31%;
}

.menu-card {
    max-width: 50em;
    margin: 1em 1em;
}

.menu-avatar {
    background-image: url('/assets/user.jpeg');
    background-size: cover;
}

.toolbar-icon {
    padding: 0 0.5em;
    cursor: pointer;
}

.toolbar-logo {
    text-align: center;
}

.toolbar-space {
    flex: 1 1 auto;
}

.toolbar-search {
    min-width: 1em;
    max-width: 3em;
    width: 100%;
}

.toolbar-search mat-form-field {
    width: 20em;
}

.toolbar-user {
    height: 2em;
    width: 2em;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}