<h1 mat-dialog-title class="dialog-title">
  <span>{{ 'upload-image-dialog-component.title' | translate }}</span>
  <input type="file" (change)="fileChangeEvent($event)" />
</h1>
<div mat-dialog-content>
  <mat-grid-list cols="2" rowHeight="27em">
    <mat-grid-tile colspan="1" rowspan="1">   
      <image-cropper [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="4/3"
      format="png"
      (imageCropped)="imageCropped($event)"></image-cropper>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <img [src]="croppedImage">
    </mat-grid-tile>
  </mat-grid-list>    
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">{{ 'upload-image-dialog-component.close' | translate }}</button>
  <button mat-button [mat-dialog-close]="croppedImage" cdkFocusInitial>{{ 'upload-image-dialog-component.ok' | translate }}</button>
</div>