<h1 mat-dialog-title>Hi</h1>
<div mat-dialog-content>
  <input type="file" (change)="fileChangeEvent($event)" />
  <image-cropper [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="4/3"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"></image-cropper> 
  <img [src]="croppedImage"/>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">No Thanks</button>
  <button mat-button cdkFocusInitial>Ok</button>
</div>